body{
    width: 50%;
    margin: 4em;
} 

fieldset{
    background-color: rgba(5, 15, 20,0.4);
    color: white;
    border-radius: 1em;
}

h1{
    color: white;
    font-style: oblique;
}
h2{
    color: white;
    font-style: oblique;
}