header{
    height: 15%;
    text-align: center;
    color: black;
    font: normal 15px "century Gothic";
    background: transparent;
}  
nav{
    height: 10%;
    background-color:gray;
    border-radius: 1em;
    text-transform: uppercase;
    justify-content: space-between;
}

fieldset{
    background: grey;
    color: white;
    border-radius: 1em;
    width: 88%;
    margin: 5em;
        }
footer{
    background-color: black;
    color:white;
    border-radius: 1em;
    margin: 10em;
    padding: 10px;
    text-align: center;
     }

                