*{
    margin: 0px;
    box-sizing: border-box;
    border-radius: 1em;
}
body{
    background-color: rgba(5, 15, 20,0.4);
    font-family: sans-serif;
    background-image:url(Imagenes/Patagonia.jpeg);
}
.clearfix{
    clear: both;
}
footer{
    height: 80%;
    background-color: rgba(5, 15, 20,0.5);
    color:white;
    border-radius: 1em;
    margin: 10em;
    padding: 10px;
    text-align: center;
     }